<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokemon Search</title>
  </head>
  <body>
    <h1>Pokemon Search</h1>
    <form action="/search" method="post">
      <input type="text" name="pokemon_name" placeholder="Enter Pokemon Name" />
      <select name="category">
        <option value="pokemon">Pokemon</option>
        <option value="type">Type</option>
      </select>
      <button type="submit">Search</button>
    </form>

    <h1></h1>
    <button>List Kategori</button>
  </body>
</html>
